@import './variable.scss';
@import './mixin.scss';
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(224, 240, 245, 0.7), #f4f6f7);  
}
.has-bottom-border{
  border-bottom: 1px solid $border-color;
}
.card-list {
  padding: 3px;
  .card-item {
    padding: 0.1rem;
    margin: .15rem  0;
    border: 1px solid $border-color;
    box-shadow: 0px 0px 1px 1px $border-color;
    @include gradual-background-card-item;
    > div {
      padding-top: 0.1rem;
      > div {
        margin: 0.1rem 0;
      }
    }
  }
}