@import './variable.scss';
@mixin vertical-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin horizontal-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin only-bottom-border{
    border: none;
    border-bottom: 1px solid $border-color;
}

@mixin hf-height-lineHeight{
    height: $headerHeight;
    line-height: $headerHeight;
}

@mixin gradual-background{
    background: linear-gradient(#3399cc, rgba(3, 166, 228, 0.7));    
}
@mixin gradual-background-cancal{
    background: linear-gradient(#fa0606fd, rgba(240, 41, 27, 0.541));    
}
@mixin gradual-background-card-item{
    background: linear-gradient(rgba(114, 113, 113, 0.215), rgba(175, 173, 173, 0.137));    
}